@font-face {font-family: "EurostileExt2";src: url("src/fonts/EurostileExt2.ttf");}
/** {font-family:'Courier New', Courier, monospace;}*/
* {font-family:"EurostileExt2", sans-serif;}
body{
    background: black url("src/img/space.jpg");
    background-size: cover;}
html body{left: 0;right: 0;bottom: 0;top: 0;margin: 0;}
#sandbox{
    /*position:relative;*/
    width: 1280px;
    height: 768px;
    margin: 0 auto;
    background: rgba(0, 0, 153, .7);
    border:4px solid #fff;
    box-sizing:content-box;
    z-index:20;
}
.cell{
    position:relative;
    width:auto;
    height: auto;
    /*max-height:100%;*/
    /*text-align:center;*/
    z-index:20;
    /*padding:10px;*/
}
#sandbox{
    display:flex;/*inline-flex is like inline-block*/
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}
.cell{
    align-self:auto;
    flex-grow: 0;
    flex-shrink:1;
    flex-basis:auto;
}
.cell img{
    position:absolute;
    margin:auto auto;/*!!!*/
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius: 7px;
    z-index:30;
    opacity:.5;
}
.cell:nth-of-type(odd){background-color:rgba(55,0,0,.5);}
.cell:nth-of-type(even){background-color:rgba(0,55,0,.5);}

#changeling-panel{
    position:relative;
    width: 1280px;
    height: 180px;
    margin: 0 auto;
    background: rgba(0, 0, 0, .5);
    border:2px solid #fff;
    border-radius: 15px;
    z-index:100;
}
.btn-toolbar{
    width:137px;
    height: 100%;
    margin: 0 2px;
    float:left;
    border-width:2px;
    border-radius: 15px;
    overflow: hidden;
}
h4, .h4 {
    font-size: 13px;
    margin:3px 0 2px;
    font-family: 'Courier', sans-serif;
    font-weight: 700;
    line-height: .8;
    background-color: #ac2925;
    background-clip: content-box;
    color: inherit;
    text-align: center;
}

.btn-group-xs{
    width:100%;
}
.btn-xs, .btn-group-xs>.btn {
    padding: 1px 3px;
    font-size: 11px;
    line-height: 1.2;
    border-radius: 3px;
    color:#000;
}
.btn-xs, .btn-group-xs>.btn.active {
    padding: 1px 3px;
    font-size: 11px;
    /* line-height: 1.1; */
    font-weight:bold;
}
.btn-poptip{
    position: relative;float:right;cursor: pointer;
    height: 12px;width: 18px;
    margin: -14px 0 0 0;padding: 0 2px;
    font-size: 8px;font-weight: bold;color: #000;
    border: 1px solid rgb(99, 89, 49);border-radius: 3px;
    background: rgb(243, 156, 18) none;
}
.w50 {
    width: 50% !important;
}
.w33 {
    width: 33% !important;
}
.w25 {
    width: 25% !important;
}
#radtabfbasis{
    font-size:0; /*solves inline block ghost space*/
}
#radtabfbasis>label{
    padding:0 !important;
    margin:0 !important;
    line-height:14px !important;
    border-width: 0 !important;
    width:26px;
    height: 12px;
    display: inline-block !important;
}
#radtabfbasis>label:nth-last-child(-n+2){
    width:65px !important;
}
#radtabfbasis.btn-group-xs>.btn.active {
    padding: 1px 3px;
    font-size: 11px;
    /* line-height: 1.1; */
    font-weight:bold;
}














#viheader{
    line-height:1;
    position: fixed;
    right: 0;
    width: 390px;
    margin: 0 auto;
    opacity:0.5;
    padding:0;
    font-size:32px;
    animation-duration: 3s;
    animation-name: slidein;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    cursor:default;
    z-index:-1000;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}
@keyframes slidein {
    from {margin-right: 100%;width: 100%;}
    to {margin-right: 0; width: 390px;}
}
.f-euro {font-family: 'EurostileExt2', sans-serif;}
.f-courier {
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    background-color:#000022;
}



/*
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.btn-default {
    color: #ffffff;
    background-color: #464545;
    border-color: #464545
}

.btn-primary {
    color: #ffffff;
    background-color: #375a7f;
    border-color: #375a7f
}

.btn-success {
    color: #ffffff;
    background-color: #00bc8c;
    border-color: #00bc8c
}

.btn-info {
    color: #ffffff;
    background-color: #3498db;
    border-color: #3498db
}

.btn-warning {
    color: #ffffff;
    background-color: #f39c12;
    border-color: #f39c12
}

.btn-danger {
    color: #ffffff;
    background-color: #e74c3c;
    border-color: #e74c3c
}


.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:hover,.btn:focus,.btn.focus {
    color: #ffffff;
    text-decoration: none
}

.btn:active,.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}


.btn-default:hover,.btn-default:focus,.btn-default.focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #2c2c2c;
    border-color: #272727
}

.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
    background-color: #464545;
    border-color: #464545
}

.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #28415b;
    border-color: #253c54
}

.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
    background-color: #375a7f;
    border-color: #375a7f
}



.btn-success:hover,.btn-success:focus,.btn-success.focus,.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #008966;
    border-color: #007f5e
}

.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success {
    background-image: none
}

.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled.focus,.btn-success[disabled].focus,fieldset[disabled] .btn-success.focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active {
    background-color: #00bc8c;
    border-color: #00bc8c
}





.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled.focus,.btn-info[disabled].focus,fieldset[disabled] .btn-info.focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active {
    background-color: #3498db;
    border-color: #3498db
}


.btn-info:hover,.btn-info:focus,.btn-info.focus,.btn-info:active,.btn-info.active,.open>.dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #217dbb;
    border-color: #2077b2
}
.btn-warning:hover,.btn-warning:focus,.btn-warning.focus,.btn-warning:active,.btn-warning.active,.open>.dropdown-toggle.btn-warning {
    color: #ffffff;
    background-color: #c87f0a;
    border-color: #be780a
}

.btn-info:active,.btn-info.active,.open>.dropdown-toggle.btn-info {
    background-image: none
}
.btn-warning:active,.btn-warning.active,.open>.dropdown-toggle.btn-warning {
    background-image: none
}

.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled.focus,.btn-warning[disabled].focus,fieldset[disabled] .btn-warning.focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active {
    background-color: #f39c12;
    border-color: #f39c12
}


.btn-danger:hover,.btn-danger:focus,.btn-danger.focus,.btn-danger:active,.btn-danger.active,.open>.dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #d62c1a;
    border-color: #cd2a19
}

.btn-danger:active,.btn-danger.active,.open>.dropdown-toggle.btn-danger {
    background-image: none
}

.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled.focus,.btn-danger[disabled].focus,fieldset[disabled] .btn-danger.focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active {
    background-color: #e74c3c;
    border-color: #e74c3c
}


.btn-link,.btn-link:active,.btn-link.active,.btn-link[disabled],fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}
.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active {
    border-color: transparent
}
.btn-link:hover,.btn-link:focus {
    color: #0ce3ac;
    text-decoration: underline;
    background-color: transparent
}
.btn-link[disabled]:hover,fieldset[disabled] .btn-link:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:focus {
    color: #999999;
    text-decoration: none
}
.btn-link {
    color: #0ce3ac;
    font-weight: normal;
    border-radius: 0
}


.btn-lg,.btn-group-lg>.btn {
    padding: 18px 27px;
    font-size: 19px;
    line-height: 1.3333333;
    border-radius: 6px
}
.btn-sm,.btn-group-sm>.btn {
    padding: 6px 9px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px
}
.btn-xs,.btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-block {
    display: block;
    width: 100%
}
.btn-block+.btn-block {
    margin-top: 5px
}
input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block {
    width: 100%
}
*/
