session_start();

$formatted =  "<pre>" . htmlentities($domx->saveXML()) . "</pre>";
$_SESSION["output_once"] = $formatted ;
echo $formatted;

//log(fromNinja);

<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Link with href
</a>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
</button>
<div class="collapse" id="collapseExample">
    <div class="well">
...
</div>
</div>
(&lt;MealStation[\s\S]*?&lt;\/MealStation&gt;)

(&lt;MealStation name="([^\r\n]|\r(?!\n))*?"&gt;[\S\s]*?&lt;\/MealStation&gt;)
|(?:&lt;MealStation name="[\s\S]*?"\/&gt;)

|(&lt;MealStation name="([^\r\n]|\r(?!\n))*?"\/&gt;)