<div id="vi-fix" style="position: relative; top: 0px; left: 0px;">
    <style type="text/css">@font-face {font-family: 'Edwardian';src: url(ITCEDSCR.TTF) format('truetype'), url(http://vi-digital.com/lib/fonts/ITCEDSCR.TTF) format('truetype');}
    @font-face {font-family: 'WhitneyBook';src: url(WhitneyBook.ttf) format('truetype'), url(http://vi-digital.com/lib/fonts/WhitneyBook/WhitneyBook.ttf) format('truetype');}
    span.cal {color: #868686;font-size: 75%;float: right;}span.cal:after {content: " cal";}
    body {
        background-color: /*#ABABAB;*/ #000000;
        color: #FFFFFF;
        margin: 0;
        padding: 0;
    }
    #coffee-shop-header {
        position: absolute;
        left: 120px;
        top: 20px;
        font-family: 'Edwardian', cursive;
        color: #409760; /*dark green*/
        font-size: 100px;
        line-height:100px;
        font-weight: lighter;
    }
    #starbucks-logo {
        position: absolute;
        top: 17px;
        left: 1060px;
        height: 140px;
    }
    td {
        font-size: 24px;
        line-height:24px;
        vertical-align: text-top;
    }
    th {
        vertical-align: text-bottom;
        font-size: 24px;
        line-height:24px;
        text-transform: uppercase;
        font-weight: lighter;
        letter-spacing: 2px;
    }
    th:first-child {
        text-align: left;
        font-size: 28px;
        font-weight: normal;
    }
    th:nth-child(n+2), td:nth-child(n+2) {
        text-align:center;
    }
    .tr-thpadtop th{
        padding-top:14px;

    }
    #left-table, #right-table {position: absolute;font-family: 'WhitneyBook', sans-serif;}
    #left-table {
        top: 135px;
        left: 55px;
        width: 570px;
    }
    #right-table {
        top: 165px;
        left: 695px;
        width: 550px;
    }
    </style>
    <div id="coffee-shop-header">Market&nbsp;Brew</div>
    <img alt="Starbucks logo" id="starbucks-logo" onerror="this.src='http://vi-digital.com/lib/morrison/CMC-Main/StarbucksLogo_1.jpg'" src="StarbucksLogo_1.jpg" />
    <table id="left-table">
        <tbody>
        <tr>
            <th>Espresso Drinks</th>
            <th>Tall</th>
            <th>Grande</th>
            <th>Venti</th>
        </tr>
        <tr>
            <td>Cappuccino</td>
            <td>2.99</td>
            <td>3.69</td>
            <td>3.99</td>
        </tr>
        <tr>
            <td>Caramel Macchiato</td>
            <td>3.69</td>
            <td>4.49</td>
            <td>4.79</td>
        </tr>
        <tr>
            <td>Caff&egrave; Mocha</td>
            <td>3.49</td>
            <td>4.09</td>
            <td>4.49</td>
        </tr>
        <tr>
            <td>White Chocolate Mocha</td>
            <td>3.69</td>
            <td>4.49</td>
            <td>4.79</td>
        </tr>
        <tr>
            <td>Caff&egrave; Americano</td>
            <td>2.29</td>
            <td>2.69</td>
            <td>2.99</td>
        </tr>
        <tr>
            <td>Caff&egrave;&nbsp;Latte</td>
            <td>2.99</td>
            <td>3.69</td>
            <td>3.99</td>
        </tr>
        <tr>
            <td>Hot&nbsp;Chocolate</td>
            <td>2.69</td>
            <td>3.19</td>
            <td>3.49</td>
        </tr>
        <tr class="tr-thpadtop">
            <th>Espresso</th>
            <th>Solo</th>
            <th>Doppio</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <td>espresso</td>
            <td>1.69</td>
            <td>1.89</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="tr-thpadtop">
            <th>Brewed Coffees</th>
            <th>Tall</th>
            <th>Grande</th>
            <th>Venti</th>
        </tr>
        <tr>
            <td>Veranda (Light Roast)<br/><em style="font-size:17px;">&nbsp;&nbsp;Regular or Decaf</em></td>
            <td>1.69</td>
            <td>2.09</td>
            <td>2.29</td>
        </tr>
        <tr>
            <td>Estima (Dark roast)<br/><em style="font-size:17px;">&nbsp;&nbsp;Regular</em></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Caff&egrave; Misto</td>
            <td>1.99</td>
            <td>2.29</td>
            <td>2.59</td>
        </tr>
        <tr class="tr-thpadtop">
            <th>Frappuccino</th>
            <th>&nbsp;</th>
            <th>Grande</th>
            <th>Venti</th>
        </tr>
        <tr>
            <td><strong>Coffee</strong></td>
            <td>&nbsp;</td>
            <td>3.69</td>
            <td>3.99</td>
        </tr>
        <tr>
            <td>Caramel</td>
            <td>&nbsp;</td>
            <td>4.49</td>
            <td>4.89</td>
        </tr>
        <tr>
            <td>Mocha</td>
            <td>&nbsp;</td>
            <td>4.49</td>
            <td>4.89</td>
        </tr>
        <tr>
            <td>Vanilla Bean</td>
            <td>&nbsp;</td>
            <td>3.69</td>
            <td>3.99</td>
        </tr>
        </tbody>
    </table>

    <table id="right-table">
        <tbody>
        <tr>
            <th>Cold&nbsp;Beverages</th>
            <th>GrandE</th>
            <th>Venti</th>
        </tr>
        <tr>
            <td>Iced&nbsp;Coffee</td>
            <td>2.49</td>
            <td>2.99</td>
        </tr>
        <tr>
            <td>Iced&nbsp;Caff&egrave;&nbsp;Latte</td>
            <td>3.69</td>
            <td>3.99</td>
        </tr>
        <tr>
            <td>Iced&nbsp;Caramel&nbsp;Macchiato</td>
            <td>4.49</td>
            <td>4.79</td>
        </tr>
        <tr>
            <td>Iced&nbsp;Caff&egrave;&nbsp;Mocha</td>
            <td>4.09</td>
            <td>4.69</td>
        </tr>
        <tr>
            <td>Iced&nbsp;White&nbsp;Chocolate&nbsp;Mocha</td>
            <td>4.49</td>
            <td>4.79</td>
        </tr>
        <tr>
            <td>Iced&nbsp;Caff&egrave;&nbsp;Americano</td>
            <td>2.69</td>
            <td>2.99</td>
        </tr>
        <tr>
            <td>Cinnamon&nbsp;Dolce&nbsp;Latte&nbsp;</td>
            <td>4.49</td>
            <td>4.79</td>
        </tr>
        <tr class="tr-thpadtop">
            <th>Iced tazo&reg; Teas</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <td>Tazo&reg; Iced Tea Passion Tea</td>
            <td>3.49</td>
            <td>3.69</td>
        </tr>
        <tr>
            <td>Tazo&reg; Iced &nbsp;Chai Tea Latte</td>
            <td>4.09</td>
            <td>4.29</td>
        </tr>
        <tr class="tr-thpadtop">
            <th>Creme (coffee Free)</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <td>Strawberry &amp; Cream</td>
            <td>4.49</td>
            <td>4.89</td>
        </tr>
        <tr>
            <td>Vanilla Bean</td>
            <td>3.69</td>
            <td>3.99</td>
        </tr>
        <tr class="tr-thpadtop">
            <th>EXTRAS</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <td>Whipped Cream</td>
            <td>0.80</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Caramel or Chocolate Sauce</td>
            <td>0.80</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Steamed Milk</td>
            <td>0.80</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Espresso Shot</td>
            <td>0.80</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Flavored Syrup</td>
            <td>0.80</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Soy Milk</td>
            <td>0.60</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
    <!-- end fix --></div>
